{% extends 'sites/base.html' %}
{% load static %}
{% block title%} Home - Sell Gift Cards In Nigeria At Best Rates {%endblock%}

{%block content %}
<section class="banner">
    <div class="navigation">
        <img src="{% static 'image/logo.png' %}" alt="">
        <div class="nav-links">
            <ul class="nav-icon">
                <li><a href="#">Home</a></li>
                <li><a href="#">Support & FAQ</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Rate Calculator</a></li>
            </ul>
            <ul class="action-btn">
                <li><a href="#" class="btn-login">Login</a></li>
                <li><a href="#" class="btn-signup">SignUp</a></li>
            </ul>
        </div>
    </div>
    <div class="banner-text">
        <h2>Sell Gift Cards <br/> For Naira.</h2>
        <p>Exchange your gift cards at  amazing <br/> rates in split second.</p>
        <button>Register</button>
    </div>


</section>
<section class="services">
    <div class="header">
        Why choose us
    </div>
 <div class="service-list">

    <div class="box">
        <div class="img">
            <img src="{% static 'image/portfolio.png' %}" alt="">
        </div>
        <h3>Cross-Platform Availability</h3>
        <p>Sell any gift card, anywhere, anytime, using our modern gift card trading application available on Android, iOS and web browser.</p>
    </div>
    <div class="box">
        <div class="img">
        <img src="{% static 'image/giftcard.png' %}" alt="" class="mb-10">
        </div>
        <h3>Instant Payment</h3>
        <p>Using state-of-the-art payment procedures, you are guaranteed to get your payment sent to your account within minutes.</p>
    </div>
    <div class="box">
        <div class="img">
        <img src="{% static 'image/wallet.png' %}" alt="">
        </div>
        <h3>Trusted And Secure</h3>
        <p>Trade with high confidence, as we assure you the highest level of encryption and professionally audited exchange system.</p>
    </div>

 </div>
</section>

<section class="exchange">
    <div class="header white">
        <p>Exchange Gift Cards For Naira</p>
    </div>
    <div class="exchange-text">
        <p class="mb-10">Gift card exchange in Nigeria has taken a new look and we are having a good run at that. Using customer-inclined conversion, we strive to provide the best possible gift card rates in Nigeria. </p>
        
        <p>
                We accept iTunes, Amazon, Steam Wallet, Google Play, Apple Store, eBay, Walmart, Sephora, OneVanilla, Nordstrom, Target, JCPenney, Best Buy, Nike, Hotels.com, Macy's, Gamestop, Xbox, Vanilla, G2A, American Express (AMEX), OffGamers, Foot Locker, Visa, Play Station and others.
        </p>
    </div>
    <div class="exchange-container">
        <div class="row">

        
        <div class="exchange-box">
            <h2>01</h2>
            <hr>
            <p>Download our mobile application or register on our website to start trading gift cards easily as bosses do.</p>
        </div>
        <div class="exchange-box">
            <h2>02</h2>
            <hr>
            <p>Log in and get familiar with the three-step gift card trading process that takes only a few minutes to complete.</p>
        </div>
        <div class="exchange-box">
            <h2>03</h2>
            <hr>
            <p>Worry not about rates, we offer the best payouts for your assets based on the current average market prices.</p>
        </div>
    </div>

    <div class="row">

        <div class="exchange-box">
            <h2>04</h2>
            <hr/>
            <p>Our platform is built with your best interest at heart, helping you sell gift cards using the simplest user interface.</p>
        </div>
        <div class="exchange-box">
            <h2>05</h2>
            <hr>
            <p>Our payment system is amazingly coherent. You get your money almost instantly, no fees attached, no limits.</p>
        </div>
        <div class="exchange-box">
            <h2>06</h2>
            <hr>
            <p>Have a question? Our FAQ page is a whole knowledge base. Our support team is also available via live chat.</p>
        </div>
        
    </div>
    <button>Join Now</button>
</div>


</section>

<section class="download">

    <img src="{% static 'image/download-app.png' %}" alt="">
    <div>
        <h2>Download Cardtonic App</h2>
        <p>Experience the best of Cardtonic as you download our mobile application <br/> to your phone or tablet. <br/> Available for iOS and Android operating systems.</p>

        <div class="download-images">
            <img src="{% static 'image/appstore.png' %}" alt="">
            <img src="{% static 'image/googleplay.png' %}" alt="">
        </div>
    </div>
</section>
<section class="news">
    <div class="header">
        <h2>Cardtonic In The News </h2>
    </div>

    <div class="news-text-logo">

  
    <p>As a demonstration of our quality service and awesome impression, we have been published by some platforms across Nigeria and beyond.</p>

    <div class="news-row">
        <img src="{% static 'image/vanguard-logo-h.png' %}" alt="">
        <img src="{% static 'image/today-logo-h.png' %}" alt="">
        <img src="{% static 'image/punch-logo-h.png' %}" alt="">

    </div>
    <div class="news-row">
            <img src="{% static 'image/naij-logo-h.png' %}" alt="">
            <img src="{% static 'image/naijanews-logo-h.png' %}" alt="">
            <img src="{% static 'image/pulse-logo-h.png' %}" alt="">

    </div>
</div>

</section>
<section class="gift-card">
    <div class="content">
        <div>
            <h2>Ready To Trade Gift Cards?</h2>
            <p>Get started by proceeding to registration. For support, use the live chat or contact us on Whatapp.</p>
            <button>Contact on Whatsapp</button>

        </div>
        <div>
            <img src="{% static 'image/cards-img.png' %}" alt="">
        </div>
    </div>
</section>

<footer>
    <div class="footer">

        <div class="content">
          <img src="{% static 'image/logo.png' %}" alt="">
          <p>Cardtonic is a modern gift card exchange platform that has been in operation since 2016. On here, we take pride in customers’ satisfaction.</p>
        </div>
        <div class="footer-links">

            <div class="footer-box">
                <h3>Company</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="footer-box">
                <h3>Product</h3>
                <ul>
                    <li><a href="#">How does it work</a></li>
                    <li><a href="#">Support & Footer</a></li>
                    <li><a href="#">Rate Calculator</a></li>
                </ul>
            </div>
            <div class="footer-box">
                <h3>Legal</h3>
                <ul>
                    <li> <a href="#">Terms & Conditions</a> </li>
                    <li> <a href="#">Privacy Policy </a></li>
                    <li><a href="#">AML Policy</a></li>
                </ul>
            </div>
            <div class="footer-box">
                <h3>Social</h3>
                <ul class="social">
                    <li><a href="#">facebook</a> </li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr>
    <div class="copyright">
        <p>©Copyright 2020. Cardtonic Trading Services. All Rights Reserved.</p>
    </div>


</footer>

{% endblock %}